/* MAIN RELIGION LINKS */

div.optionsStack {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    width: 92dvw;
    margin: 3dvh auto;
    height: fit-content;
}

div.optionsStack h1 {
    color: white;
    text-align: center;
    font-size: 25px;
}

div.optionsStack h1 span {
    display: none;
}

div.optionsStack div {
    background-color: blue;
    border: solid 4px navy;
    border-radius: 12px;
    transition: .4s;
}

div.optionsStack div.gray {
    background-color: gray;
    border-color: rgb(65, 65, 65);
}

div.optionsStack div.gray:hover {
    background-color: rgb(194, 0, 0);
}

div.optionsStack div:hover {
    background-color: dodgerblue;
}

div.optionsStack div a {
    color: white;
    text-decoration: none;
}

div.optionsStack div a p {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    padding: 15px 0;
}

hr {
    width: 92vw;
    margin: 0  0 0 4vw;
}

div.introTexts p {
    color: white;
    font-size: 20px;
    margin: 20px 4vw 0 4vw;
}

div.introTexts p:last-child {
    margin-bottom: 20px;
}

@media (min-width: 400px) {

    div.optionsStack h1 span {
        display: inline;
    }

}

@media (min-width: 535px) {

    div.optionsStack h1 {
        font-size: 32px;
    }

    div.introTexts p {
        font-size: 28px;
    }

}

@media (min-width: 650px) {

    div.optionsStack {
        width: 510px;
    }

    hr {
        width: 510px;
        margin: 0 auto;
    }

    div.introTexts {
        width: 510px;
        margin: 20px auto 0;
    }

    div.introTexts p {
        margin: 0 0 20px;
    }

}

@media (min-width: 900px) {

    div.optionsStack h1 {
        font-size: 35px;
    }

    div.optionsStack div a p {
        font-size: 2.5em;
        padding: 15px 0;
    }

    div.optionsStack {
        width: 650px;
    }

    hr {
        width: 650px;
        margin: 0 auto;
    }

    div.introTexts {
        width: 650px;
        margin: 20px auto 0;
    }

    div.introTexts p {
        margin: 0 0 20px;
    }

}